body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dashboard {
    padding: 20px;
}

.card {
    display: inline-block;
    width: 300px;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.card h2 {
    margin-top: 0;
    color: #007BFF;
}

.card p {
    margin-bottom: 20px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transition: 800ms;
    background-color: #b30000;
}
